/**
 *  Shortcode widget
 */
#location .whab-marker {
  display: block;
  color: white;
  overflow: hidden;
  opacity: 0.5;
}
.admin-bar #location .whab-marker {
  top: 40px;
}
#location .whab-marker.open {
  opacity: 1;
}
#location .whab-marker svg {
  display: block;
  fill: white;
  height: 30px;
}
#location .whab-marker span {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
#location .whab-box {
  position: absolute;
  top: 44px;
  right: -15px;
  float: left;
  padding: 15px 20px 15px 20px;
  color: #16161d;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#location .whab-box:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 20px;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
}
#location .whab-box .whab-info {
  margin: 0;
  padding: 0 0 0 24px;
  width: auto;
}
#location .whab-box .whab-info:after {
  content: '';
  clear: both;
  display: block;
}
#location .whab-box .whab-info .whab-label {
  display: block;
  margin: 0 0 2px 0;
  padding: 2px 0 0 0;
  color: #ccc;
  font-size: 0.6em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}
#location .whab-box .whab-info .whab-label:after {
  content: '';
  clear: both;
  display: block;
}
#location .whab-box .whab-info .whab-label.whab-label-location:before {
  position: absolute;
  left: 10px;
  content: "\f230";
  font-family: 'dashicons';
  font-size: 30px;
  float: left;
  display: block;
  color: #ccc;
}
#location .whab-box .whab-info .whab-label.whab-label-time:before {
  position: absolute;
  left: 12px;
  content: "\f469";
  font-family: 'dashicons';
  font-size: 26px;
  float: left;
  display: block;
  color: #ccc;
}
#location .whab-box .whab-info dd {
  margin: 0;
  white-space: nowrap;
}
#location .whab-box .whab-info .whab-location {
  display: block;
  margin: 0 0 10px 0;
  font-size: 1em;
  line-height: 1;
}
#location .whab-box .whab-info .whab-time {
  display: block;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
}
#location .whab-box .whab-close {
  display: none;
}
